# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
.env
db.sqlite3
media/
staticfiles/

# Virtualenv (racine)
.venv/
env/

# OS
.DS_Store

# Vite cache (racine)
.vite/

# Outils de développement locaux (non versionné)
.claude/
